@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;	
    cursor: default;
}
*::selection{
	background: transparent;
}

body{
	min-height: 100vh;
	background: linear-gradient(-195deg,#f1e6e6 65%,#af7c5b);
	overflow-x: hidden;
}

body::-webkit-scrollbar{
	width: 0.6rem;
}
body::-webkit-scrollbar-track{
	background-color: transparent;
}
body::-webkit-scrollbar-thumb{
	background-color: #2B2B2B;
}

body::-webkit-scrollbar-thumb:active{
	background-color: #0b0b0b;	
}

header{
	min-width: 100%;
	height: 40vh;
	background: linear-gradient(25deg,#1503d7,#000031);
	box-shadow: 0 0 25px black;
	position: relative;
}

.logo_container{
	background: #fffe01;
	width: 350px;
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 10px;
	position: absolute;
	top: 50%;
	left: 50px;
	transform: translate(0,-50%);
	transition: .2s;
}

.logo_img{
	width: 50px;
	height: 50px;
	background: #000;
}

.logo_title{
	text-transform: uppercase;
	color: #000;
}

.menu_container{
	width: 800px;
	height: 100%;
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 10px;
	position: absolute;
	top: 50%;
	right: 100px;
	transform: translate(0,-50%);
	transition: .2s;
}

.menu_container a{
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid #fff;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	position: relative;
	letter-spacing: 2px;
	transition: .3s;
}
.menu_container a:hover{
	padding: 5px 0;
}

.main_container{
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 100%;
}

button:hover{
	cursor: pointer;
}

p{
	hyphens: auto;
}
a{
	cursor: pointer;
}